* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text_right,
.text_left,
.bottom_text {
  font-size: 18px;
  font-family: "SFUIText", sans-serif;
  color: rgb(33, 33, 32);
  line-height: 1.667;
}

.logo {
  flex-direction: column;
  text-align: center;
}

#logo {
  margin: 2.5vw 0px 0px;
  width: 19vw;
}

.shape {
  margin: 4vw 10vw;
  text-align: center;
  width: 80vw;
}

.text_right,
.bottom_text {
  width: 420px;
}

.text_left {
  width: 380px;
  margin-left: 7vw;
}

.block_img {
  margin: -60px 0px 0px 60px;
}

.block_0,
.block_1,
.block_2,
.block_3,
.block_4,
.block_5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px auto;
  width: 80vw;
  justify-content: space-evenly;
  align-items: center;
}

.block_head_text {
  font-size: 29px;
  font-family: "SFUIText Bold", sans-serif;
  margin-left: -27px;
  margin-bottom: 40px;
}

span {
  background-color: #ebf0f5;
  height: 60px;
}


/* sticky-button */

button {
  width: 40vw;
  height: 80px;
  background-color: #00497b;
  font-size: 2.3vw;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: white;
  margin: 10px 0px;
}

.fixed_button {
    height: 100px;
    text-align: center;
    vertical-align: baseline;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  background-color: white;
  border: none;
  cursor: pointer;
}

.hide_button {
    display: none;
}
/*    */

#footer_button {
    width: 34vw;
    height: 80px;
    font-size: 24px;
}

.button_center {
    text-align: center;
    margin: 60px 0px 80px;
}

.footer-text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "SFUIText Regular", sans-serif;
  color: rgba(88, 89, 91, 255);
}




@media all and (max-width: 1262px) {
  .block_0,
  .block_1,
  .block_3,
  .block_4,
  .block_2,
  .block_5 {
    width: 95vw;
  }
  .block_img,
  .text_img,
  .triangles {
    margin: 2vw 0px;
    padding: 0px 0px 0px 10vw;
  } #footer_button {
    width: 45vw;
    font-size: 2vw;
}
}

@media all and (max-width: 990px) {
  .text_left {
    margin-left: 2vw;
  }
}

@media all and (max-width: 936px) {
  #logo {
    width: 27vw;
  }
  .text_left {
    width: 350px;
  }
  .triangles {
    order: 1;
  }
  .bottom_text {
    width: 350px;
  }
}

@media all and (max-width: 828px) {
  .text_left,
  .text_right {
    width: 350px;
  }
}

@media all and (max-width: 752px) {
  .text_right,
  .text_left,
  .bottom_text {
    flex-grow: 2;
    text-align: center;
  }
  .text_right {
    margin-left: 2vw;
  }
  .block_img,
  .text_img,
  .triangles {
    width: 90%;
  }
  #block_img,
  #text_img {
    width: 90%;
  }
}

@media all and (max-width: 565px) {
#footer_button {
  width: 50vw;
  height: 50px;
  font-size: 2.5vw;
}  
button {
  width: 50vw;
  height: 60px;
  background-color: #00497b;
  font-size: 3vw;
} .fixed_button {
  height: 80px;
}
}