* {
    margin: 0;
    padding: 0;
   }

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
}
/* header */


.header-img-wrapper {
    position: relative;
    width: 100%;
}

 .header-logo {
    font-family: 'PT Serif';
    font-size: 57.26306px;
    color: white;
    position: absolute;
    top: calc(20% - 20px);
    left: 15%;
    z-index: 999;
    max-width: 480px;
    height: auto;
}

/* /header  */

/* main */

main {
    text-align: center;
    margin-top: 50px;
}

.main-logo {
    font-family: 'Averta CY';
    font-size: 30px;
    margin: 45px 0px 49px 0px;
}

.main-text-first-line{
    padding: 0 0 10px;
}

.responsive {
    max-width: 191px;
    max-height: 195px;
}


.main-img-container {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 75px 240px 100px 240px;
}

@media screen and (max-width: 1045px) {
    .main-img-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
    }
}

@media screen and (max-width: 700px) {
    .main-img-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 15px;
    }
}


a :hover {
   background-image: url('../img/ring_hover_2.png');
   z-index:999;
}

/* /main */


/* footer  */

footer {
    height: 90px;
    background-color: #a3507a;
}

.footer-text {
    text-align: center;
    color: white;
    padding-top: 28px;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 16px;
}

 /* /footer  */